<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product=>{ %>
    <tr>
      <th>
        <%= product.id %>
      </th>
      <td>
        <%= product.name %>
      </td>
      <td>
        <%= product.desc %>
      </td>
      <td scope="col">
        <%= product.price %>
      </td>
      <td>
        <img src="<%= product.imageUrl %>" />
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>